@import "../abstracts/variables";

.feature {
  padding: 0 0 15px 0;

  &__list {
    &__item {
      padding: 5px 0;

      &::marker {
        font-size: 1.4rem;
        color: $third-color;
      }
    }
  }
}