.cards-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (min-width: 450px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}